[Desktop Entry]
Name=SNX-RS VPN client
GenericName=Check Point VPN client
Comment=Check Point VPN client
Categories=Network;
Exec=/opt/snx-rs/snx-rs-gui
Icon=network-vpn
Keywords=network;vpn;
TryExec=/opt/snx-rs/snx-rs-gui
Type=Application
