[Unit]
Description=VPN client for Checkpoint security gateway
After = network.target network-online.target
Wants = network-online.target

[Service]
Type=simple
ExecStart=/opt/snx-rs/snx-rs -m command -l info

[Install]
WantedBy=multi-user.target
