name: CI

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: git submodule update --init
      - run: sudo apt-get update && sudo apt-get install -yqq build-essential pkg-config libssl-dev libgtk-3-dev
      - run: ci/set_rust_version.bash ${{ matrix.channel }} ${{ matrix.target }}
      - run: ci/clippy.bash cargo ${{ matrix.target }}
      - run: ci/test.bash cargo ${{ matrix.target }}

    strategy:
      fail-fast: false
      matrix:
        channel: [stable]
        target:
          - x86_64-unknown-linux-gnu
